@import "common.scss";
@import "utils/variables.scss";
@import "utils/mixins.scss";
@import "utils/functions.scss";

html, body {
	height: 100%;
}

.oneline {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.container {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
}

.page,
.pop {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    display: none;
    overflow: hidden;
    &.active {
    	display: block;
    }
}

.pop {
    .p-content {
        background: rgba(0, 0, 0, 0.8);
    }
}

.p-content {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    animation: fadeIn 0.3s 0s both;
    &.out {
        animation: fadeOut 0.3s 0s both;
    }
}

.render {
    display: block !important;
}

.box {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@media only screen and (max-aspect-ratio: 320/560) {
    
}

