@import "common.scss";
@import "utils/variables.scss";
@import "utils/mixins.scss";
@import "utils/functions.scss";

html, body {
	height: 100%;
}

.container {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
}

.page,
.pop {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    display: none;
    overflow: hidden;
    &.active {
    	display: block;
    }
}

.pop {
    .p-content {
        background: rgba(0, 0, 0, 0.8);
    }
}

.p-content {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    animation: fadeIn 0.3s 0s both;
    &.out {
        animation: fadeOut 0.3s 0s both;
    }
}

.render {
    display: block !important;
}

.box {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@media only screen and (max-aspect-ratio: 320/560) {
    .home .home-content {
        top: 48%;
        margin-top: -564px;
    }
    .award .award-content {
        top: 45%;
        margin-top: -510px;
    }
}

.award-machine {
    width: 630px;
    height: 740px;
    position: absolute;
    left: 26px;
    top: 152px;
    .award-machine-cover {
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
        background: url("http://n.sinaimg.cn/gd/1018/picc/69/award_machine_cover.png") no-repeat;
    }
    .award-rotate {
        width: 472px;
        height: 490px;
        position: absolute;
        left: 71px;
        top: 70px;
        background: url("http://n.sinaimg.cn/gd/1018/picc/69/award_rotate_new.png") no-repeat;
        transform: rotate(0deg);
    }
    .award-point {
        width: 180px;
        height: 187px;
        position: absolute;
        left: 216px;
        top: 215px;
        background: url("http://n.sinaimg.cn/gd/1018/picc/69/award_point.png") no-repeat;
    }
}

.award-list {
    width: 100%;
    height: 100px;
    position: absolute;
    left: 0;
    top: 1000px;
    display: flex;
    justify-content: space-between;
    .award-item {
        width: 10%;
        background: #ff0;
        &.active {
            background: #f00;
        }
    }
}
